.lrrightcol {
    
}

h3{
    padding-top: 0px;
    margin-top: 7px;
}

.linput {
    float:right;
    clear:both;
}

.smleftcol {
    background-color: lightgray;
    margin-right: 10px;
    border: 3px solid lightgray;
    border-radius: 30px;
}

.filters {
    margin-bottom:10px;
}

.filterbtn {
    margin-bottom:10px;
}

body {
    padding-top = 0px;
}