<div id="events">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        <div class="row" ng-app="events" ng-controller="eventscontroller">
          <div class="col-xs-4 col-sm-4 left well">
            <!--<form action="localhost:8081/event_submit" method="POST">-->
                <h3>Filters</h3>
                <div class="filters" ng-app="filters" ng-controller="filtercontrol">

                    <p>Event Name: <input id="event_name" class="linput" type="text" ng-model="EventNameIn" name="eventt[name]"></p>
                    <p>Event Date: <input id="event_date" class="linput" type="text" ng-model="SIn" name="eventt[SIn]"></p>
                    <p>Event Location: <input id="location" class="linput"  type="text" ng-model="LocationIn" name="eventt[LocIn]"></p>
                    <p>Organizer: <input id="organizer" class="linput" type="text" ng-model="OrganizerIn" name="eventt[Org]"></p>
                    <p>Category: <input id="category" class="linput" type="text" ng-model="CatIn" name="eventt[cat]"></p>
<!--
                    <p>Event Name: <input class="linput" type="text" ng-model="EventNameIn" name="eventt[name]"></p>
                    <p>Event Date: <input class="linput" type="text" ng-model="SIn" name="eventt[SIn]"></p>
                    <p>Event Location: <input class="linput"  type="text" ng-model="LocationIn" name="eventt[LocIn]"></p>
                    <p>Organizer: <input class="linput" type="text" ng-model="OrganizerIn" name="eventt[Org]"></p>
                    <p>Category: <input class="linput" type="text" ng-model="CategoryIn" name="eventt[Cat]"></p>
-->
                </div>
                <input id="submit" class="filterbtn" type="submit" values="Submit">
                <script>
                console.log("Loaded");
                $(document).ready(function(){
                    var event_name, event_date, location, organizer;
                    console.log("Ready");
                    $("#submit").click(function(){
                      event_name=$("#event_name").val();
                      event_date=$("#event_date").val();
                      location=$('#location').val();
                      organizer=$('#organizer').val();
                      console.log("Posting");
                      $.post("/event_submit",{event_name: event_name, event_date: event_date, location: location, organizer: organizer}
                      );
                    });
                  });
                </script>
            <!--</form>-->
          </div>
          <div class="col-xs-7 col-sm-7 lrrightcol">
            <div ng-repeat="event in collection track by event.UIDEvent" class="eventitem">
                <h3>{{EventName}}</h1>
                <h4>{{StartDT}} - {{EndDT}} at {{LocationName}} for {{EventEXP}} </h4>
                <p> {{EventDescShort}} </p>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>